.navbar {
  padding: 25px 0;
}

.df-nav {
  padding: 25px 0;
  background-color: #ec4c8a;
  color: white;
}

.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Gill Sans", sans-serif;
  font-weight: 900;
}

.navbar > .container > div {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
