* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
